<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">

  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Bánh tươi mỗi ngày</h2>
        <p data-aos="fade-up" data-aos-delay="100">Hàng trăm hương, vị bánh đa chủng loại Á – Âu: bánh ngọt, bánh mì
          tươi, các dòng bánh kem sinh nhật, sự kiện, theo mùa… </p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#menu" class="btn-book-a-table">Mua ngay</a>

          <a href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ffreshgardenbanhvacaphe%2Fvideos%2F295954995750307%2F&show_text=false&width=560&t=0"
            class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
              Video</span></a>
        </div>
      </div>

      <div class="col-lg-6 order-1 order-lg-2 text-center text-lg-start">
        <img
          src="https://product.hstatic.net/200000411281/product/fnr5.5_new-03_8712f891e8044cf19a728acc13f1bf6d_master.png"
          class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Giới thiệu</h2>
        <p>Câu chuyện<span> Fresh Garden </span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Book a Table</h4>
            <p>+1 5589 55488 55</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Fresh Garden là thương hiệu bánh Việt được xây dựng từ tình yêu qua những thông điệp ngọt ngào trong mỗi
              chiếc bánh.
            </p>
            <!-- <ul>
              <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                pariatur.</li>
            </ul> -->
            <p>
              Hơn 12 năm không ngừng phát triển, Fresh Garden - "Bánh tươi mỗi ngày" với sứ mệnh xuyên suốt mang đến
              khách hàng những sản phẩm dinh dưỡng - an toàn - tự nhiên tốt cho sức khỏe người dùng.
            </p>

            <div class="position-relative mt-4">
              <img
                src="https://file.hstatic.net/200000411281/file/banh-my-tuoi-fresh-garden-min_aa5a4a7dbb9246f2a277f13ee2213858_grande.jpg"
                class="img-fluid" alt="">
              <a href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ffreshgardenbanhvacaphe%2Fvideos%2F295954995750307%2F&show_text=false&width=560&t=0"
                class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>



    </div>


  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>Dịch vụ<span> Nổi bật </span></p>
      </div>

      <div class="row gy-4">
        <div class="align-items-center">
          <div class="row gy-4">
            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://theme.hstatic.net/200000411281/1000949882/14/service_img_1.png?v=51" alt="">
                <h4>Bánh tươi mỗi ngày</h4>
                <p>Sản phẩm được sản xuất trong ngày với nguyên liệu chất lượng và tươi mới</p>
              </div>
            </div><!-- End Icon Box -->
            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://theme.hstatic.net/200000411281/1000949882/14/service_img_2.png?v=51" alt="">
                <h4>Đa dạng chọn lựa</h4>
                <p>Thế giới phong phú của bánh kem tươi, bánh mì, pizza, bánh ngọt...</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://theme.hstatic.net/200000411281/1000949882/14/service_img_3.png?v=51" alt="">
                <h4>Danh sách cửa hàng</h4>
                <p>Gần 100 cửa hàng lớn, phủ khắp các quận huyện nhằm đáp ứng nhu cầu mua sắm tiện lợi</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://theme.hstatic.net/200000411281/1000949882/14/service_img_4.png?v=51" alt="">
                <h4>Dịch vụ tận tâm</h4>
                <p>Sự tỉ mỉ, tận tâm và chuyên nghiệp luôn là huyết mạch trong phục vụ</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->
  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Năm thương hiệu</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="108" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Cửa hàng</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="205" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Sản phẩm</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1023" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Nhân viên</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>
  </section><!-- End Stats Counter Section -->


  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Sản phẩm</h2>
        <p>Bộ sưu tập <span> bánh Fresh Garden</span></p>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4>BÁN CHẠY</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4>Mới</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4>Khuyến mãi</h4>
          </a>
        </li><!-- End tab nav item -->



      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">

          <div class="tab-header text-center">
            <h3>Bán Chạy</h3>
          </div>
          <div class="row gy-5">


            <% for (let p of products) { %>
              <div class="col-lg-4 menu-item">
                <a href="/product/<%=p.id%>"><img src="<%=p.imgURL%>" class="menu-img img-fluid"
                    alt=""></a>
                <a href="/product/<%=p.id%>">

                  <h4>
                    <%=p.name %>
                  </h4>
                  <p class="ingredients product__description">
                    <%=p.detail %>
                  </p>
                  <p class="price">
                    <%= p.price.toLocaleString('vi') %> VNĐ
                  </p>
                </a>
              </div><!-- Menu Item -->

              <% } %>
          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast">

          <div class="tab-header text-center">
            <h3>MỚI</h3> 
          </div>

          <div class="row gy-5">

            <% for (let p of products) { %>
              <div class="col-lg-4 menu-item">
                <a href="<%=p.imgURL%>" class="glightbox"><img src="<%=p.imgURL%>" class="menu-img img-fluid"
                    alt=""></a>
                <a href="/product/<%=p.id%>">

                  <h4>
                    <%=p.name %>
                  </h4>
                  <p class="ingredients product__description">
                    <%=p.detail %>
                  </p>
                  <p class="price">
                    <%= p.price.toLocaleString('vi') %> VNĐ
                  </p>
                </a>
              </div><!-- Menu Item -->

              <% } %>
          </div>
        </div><!-- End Breakfast Menu Content -->

        <div class="tab-pane fade" id="menu-lunch">

          <div class="tab-header text-center">

            <h3>KHUYẾN MÃI</h3>
          </div>

          <div class="row gy-5">
            <% for (let p of products) { %>
              <div class="col-lg-4 menu-item">
                <a href="<%=p.imgURL%>" class="glightbox"><img src="<%=p.imgURL%>" class="menu-img img-fluid"
                    alt=""></a>
                <a href="/product/<%=p.id%>">

                  <h4>
                    <%=p.name %>
                  </h4>
                  <p class="ingredients product__description">
                    <%=p.detail %>
                  </p>
                  <p class="price">
                    <%= p.price.toLocaleString('vi') %> VNĐ
                  </p>
                </a>
              </div><!-- Menu Item -->

              <% } %>

          </div>
        </div><!-- End Lunch Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Khách hàng và Fresh Garden</h2>
        <p>Phản hồi<span> Khách hàng</span></p>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Mình đã trung thành với Fresh Garden từ rất nhiều năm nay, có thể nói là gắn bó trong mọi sự kiện
                      quan trọng và bữa ngon thường ngày. 5 sao cho Fresh Garden nhóe!
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Thu Thu</h3>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <img src="https://theme.hstatic.net/200000411281/1000949882/14/home_client_image_2.png?v=51"
                    class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Fresh Garden là 1 thương hiệu bánh mà tôi rất yêu thích. Về bánh kem thì ờ đây là số 1, bên cạnh
                      đó còn một số loại khác như bánh cuộn Nhật, bánh su kem cũng ngon xuất sắc.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Quỳnh Anh</h3>

                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <img src="https://theme.hstatic.net/200000411281/1000949882/14/home_client_image_1.png?v=51"
                    class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->
       

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->



  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Tin tức</h2>
        <p>Cập nhập <span>Thông tin và Ưu đãi</span> mới nhất</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="https://file.hstatic.net/200000411281/article/66_78dae13bf2824992b3a9186bb01302e6.jpg"
                class="img-fluid" alt="">

            </div>
            <div class="member-info">
              <h4>Bánh Kem Cho Mùa Halloween !</h4>
           
              <p>Đêm hội Halloween: Sợ hãi một tí, bánh ngon hết ý.Tặng một bánh trứng vàng baby cho hóa...</p>
            </div>
          </div>
        </div><!-- End Chefs Member -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img
                src="https://file.hstatic.net/200000411281/article/z3790160599934_e12b614eda62042740ad205c9f2b1b1d_8d26e59fb8a34309a0edfbca1d92952e.jpg"
                class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Ghi điểm tinh tế với người phụ nữ bạn yêu trong ngày 20/10</h4>
              <p>20/10 – Một ngày cho em, cho anh, cho nhau. Khi ngôn từ không đủ sức để truyền tải hết ...</p>
            </div>
          </div>
        </div><!-- End Chefs Member -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img
                src="https://file.hstatic.net/200000411281/article/net_dep_van_hoa_banh_trung_thu_cac_nuoc_tren_the_gioi__1__7b4bb9750dcd454b821081286156a70c.png"
                class="img-fluid" alt="">

              <div class="member-info">
                <h4>BÁNH BAO CHUYỆN CHƯA KỂ</h4>

                <p>Mỗi khi nhắc đến bánh bao, người ta sẽ nghĩ đến ngay chiếc bánh nhỏ xinh, thơm bùi nóng hổi...</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
  </section><!-- End Chefs Section -->





  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Liên hệ</h2>
        <p>Thông tin <span>liên hệ</span></p>
      </div>

      {{!-- <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div><!-- End Google Maps --> --}}

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Địa chỉ</h3>
              <p>46 An Dương, Yên Phụ, Tây Hồ, Hà Nội.</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email</h3>
              <p>marketing.freshgarden@gmail.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Hotline CSKH</h3>
              <p>19002075</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Giờ mở cửa</h3>
              <div><strong>T2 - Chủ Nhật:</strong> 11AM - 23PM
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="section-header mt-4">

        <p>Để lại <span>lời nhắn</span></p>
      </div>
      <form action="" method="" role="form" class="php-email-form p-3 p-md-4">
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Tên của bạn" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="number" class="form-control" name="email" id="email" placeholder="Số điện thoại của bạn"
              required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Tiêu đề" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Nội dung" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Gửi</button></div>
      </form>
      <!--End Contact Form -->

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->