<div class="container-fluid">
    <!-- Page Heading -->
    <div class="registration-form mt-2 px-4">
        <h1 class="mb-4">Sửa Sản Phẩm</h1>
        <form method="post" action="/admin/post-update-product/<%= product.id%>" enctype="multipart/form-data">
            <div class="form-group form-floating">
                <input type="text" class="form-control item" name="name" id="name" value="<%= product.name%>" required>
                <label for="name">Tên sản phẩm</label>
            </div>
            <div class="form-group form-floating">
                <input type="number" class="form-control item" name="price" id="price" value="<%= product.price%>"
                    required>
                <label for="price">Giá sản phẩm</label>
            </div>
            <div class="form-goup form-floating">
                <input type="text" class="form-control item" name="imgURL" id="imgURL" value="<%= product.imgURL%>"
                    required>
                <label for="imgURL">Url Hình</label>
            </div>
            <div class="form-group mt-3 form-floating">
                <textarea style="height: 180px" name="detail" class="form-control item" aria-label="With textarea"
                    required><%= product.detail%></textarea>
                <label for="floatingInput">Mô tả</label>
            </div>

            <select class="form-select item" name="idCat" id="idCat" required>
                <!-- <option value="">Loại sẩn phẩm</option> -->
                <% for (let c of categorys) { %>
                        <option <% if (c.id == product.cat_id){ %> selected 
                            <%} %>      value="<%= c.id %>">
                            <%= c.name%>
                        </option>
                 <% } %>
            </select>


            <!-- submit bnt -->
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Sửa</button>
            </div>
        </form>

    </div>
</div>